#grid {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
  }
  .cell {
    background-color: #ccc;
    border: 1px solid #999;
    box-sizing: border-box;
  }
#changeButton{
    margin-bottom: 80px;
}
  